<section class="todoapp">
  <header id="header">
    <h1>todos</h1>
    {{input type="text" class="new-todo" placeholder="What needs to be done?" value=title action="createTodo"}}
  </header>

  {{#if hasTodo}}
  <section class="main">
    {{outlet}}

    <input type="checkbox" class="toggle-all">
    {{input type="checkbox" class="toggle-all" checked=allAreDone change=(action "checkAllTodos")}}
  </section>

  <footer class="footer">
    <span class="todo-count">
      <strong>{{remaining}}</strong> {{inflection}} left
    </span>
    <ul class="filters">
      <li>
        {{#link-to "todos.index" activeClass="selected"}}All{{/link-to}}
      </li>
      <li>
        {{#link-to "todos.active" activeClass="selected"}}Active{{/link-to}}
      </li>
      <li>
        {{#link-to "todos.completed" activeClass="selected"}}Completed{{/link-to}}
      </li>
    </ul>

    {{#if hasCompleted}}
      <button class="clear-completed" {{action "clearCompleted"}}>
        Clear completed ({{completedCount}})
      </button>
    {{/if}}
  </footer>
  {{/if}}
</section>

<footer class="info">
  <p>Double-click to edit a todo</p>
</footer>
